.card {
  background: var(--surface-neutral-white-default);
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  text-align: left;
  max-width: 32.5rem;
}

.paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  margin: 0;
}

