.section {
  margin-top: 12.5rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  scroll-margin-top: 6rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

@media (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .section {
    margin-top: 10rem;
  }
}